@keyframes bubble
{
    0% {opacity:0}
    
    100% {opacity:1}
    
}

.speech {
    animation-name: bubble;
    animation-duration: 1s;
    position: inherit;
    transform: translate(-34px, -183px);
}
.symptom {
    position: relative;
    
    
    animation-name:bubble;
    animation-duration:1s;
    transform: translate(51px, -110px);
}
.fade-in {
    animation-name: bubble;
    
    animation-duration: 1s;
}
.fade-out {
    
    animation-name: bubble;
    animation-direction:reverse;
    animation-duration: 1s;
    
}
.doc-img{
    width:100px;
}
